.menuLink {
    color: #000000;
    line-height: 16px;
    vertical-align: baseline;
    letter-spacing: 1.87px;
    word-spacing: 0px;
    text-transform: uppercase;
    text-indent: 0px;
    font-size: 11px;
    font-family: "Lato", serif;
    font-weight: bolder;
    font-style: normal;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid black;
    }
  }
  

  .bold_link{
    font-weight: bolder;
  }

  .light_link{
    font-weight: 500;
    color: rgb(4, 4, 4);
 
  }
  .normal_link{
    font-weight: 600;
  }

  .red_link{
    color: var(--load-red-color);
    font-weight: 800;
    &:hover{
       border-bottom: 2px solid var(--load-red-color);

   }
  }

  @media screen and (max-width:900px) {
    .red_link{
       display: none;
    }
  }