.Product_slider {
  max-width: 1500px;
  margin: auto;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
  
}

.wrapper_Slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider_headingbox {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.slider_heading {
  font-size: 25px;
  font-family: "Lato", serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slider_box_list {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider_list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slider_list::-webkit-scrollbar {
  width: 1px;
}
.slider_card {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 310px;
  gap: 0.6rem;
  border-radius: 10px;
  overflow: hidden;
}

.slider_img img {
  width: 100%;
  height: auto;
}

.slider_title {
  font-size: 14px;
  font-family: "Lato", serif;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: left;
}

.nav_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 10;
  border: 1px solid black;
  font-size: 24px;
  visibility: hidden;
  transition: 0.6s linear;
}

.nav_button.prev {
  left: 150px;
}

.nav_button.next {
  right: 150px;
}

.nav_button:hover {
  cursor: grab;
}

.slider_box_list:hover .nav_button {
  visibility: visible;
}


@media screen and (max-width:800px) {
  .nav_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    z-index: 10;
    border: 1px solid black;
    font-size: 20px;
    visibility: hidden;
    transition: 0.6s linear;
  }
  
  .nav_button.prev {
    left: 10px;
  }
  
  .nav_button.next {
    right: 10px;
  }
  .Product_slider {
    max-width: 1500px;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    
  }
  
}