.Product_slider{
    /* background-color: red; */
    padding-top: 20px;
    max-width: 1500px;
    margin: auto;
    padding-bottom: 200px;

}

.wrapper_Slider{
    /* background-color: rgb(175, 106, 255); */
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3px;
    
  
}
.slider_content_flex{
    /* background-color: forestgreen; */
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 95%;
}
.slider_heading{
    
   font-size: 30px;
   font-family: "Lato", serif;
   font-weight: 600;
   font-style: normal;
   text-transform: uppercase;


}

.slider_box_list{
    /* background-color: plum; */
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    overflow: hidden;
    /* overflow-x: auto; */
    padding-bottom: 10px;
}

.slider_card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; /* Prevent shrinking or growing */
    width: 307px;
    height: auto;
   
}
.slider_img{
    flex: 2;
}
.slider_img img{
    width: 100%;
    height: 100%;
}
.slider_title{
    flex: 1;
    padding-top: 20px;
    font-size: 14px;
    font-family: "Lato", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}